<script setup>
import { computed } from 'vue';
import { useData } from 'vitepress';

const { site } = useData();
const pages = computed(() => site.value.themeConfig.pages);

</script>

<template>
  <ol reversed>
    <li v-for="item in pages" :key="item.relativePath">
      <a :href="item.regularPath"><span>{{ item.frontMatter.title }}</span></a>
      <span style="padding-left: 20px">{{ item.frontMatter.date }}</span>
    </li>
  </ol>
</template>
