<script setup>
import { defineComponent, computed } from 'vue';
import { useData } from 'vitepress';
    const { site } = useData();

    const lastGuidePage = computed(() => {
      const pages = site.value.themeConfig.pages;
      // console.log('pages', pages);
      const guidePages = pages.filter(item => item.regularPath.startsWith('/tech'));
      return guidePages.length ? guidePages[0].regularPath : null;
    });
</script>

<template>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
  <h1 style="line-height: 64px; font-size: 56px; font-weight: 700; color: var(--vp-home-hero-name-color)">欢迎</h1>
  <a :href="lastGuidePage">
    <img src="../img/main.jpg" />
  </a>
  </div>
</template>