<script setup>
import { ref, computed } from 'vue'
import { useData, useRouter } from 'vitepress';

const SEARCH_MAX_SUGGESTIONS = 10;

const { site } = useData();
const { pages, searchMaxSuggestions } = site.value.themeConfig;
const router = useRouter();
const SearchEvent = (_url) => {
  // console.log('SearchEvent：', _url);
  router.go(_url);
};

const query = ref('')

const focused = ref(false)
const focusIndex = ref(0)

const showSuggestions = computed(() => focused.value && suggestions.value && suggestions.value.length)
const suggestions = computed(() => {
  query.value = query.value.trim().toLowerCase();
  if (!query.value) {
    return;
  }

  const max = searchMaxSuggestions || SEARCH_MAX_SUGGESTIONS;
  // const localePath = this.$localePath
  const filterPages = pages.filter((item) => {
    const reg = new RegExp(query.value);
    // 支持标题、日期及tag关键字检索，不区分大小写
    return (
      reg.test(item.frontMatter.title.toLowerCase()) ||
      reg.test(item.frontMatter.date) ||
      item.frontMatter.tags?.some((element) => reg.test(element.toLowerCase()))
    );
  });
  const res = [];
  for (let i = 0; i < filterPages.length; i++) {
    if (res.length >= max) break;
    const p = filterPages[i];
    res.push(p);
  }
  return res;
})

/** 高度显示匹配到的过滤词 只对标题匹配 */
const filterTitle = (title) => {
  const index = title?.toUpperCase().indexOf(query.value?.toUpperCase())
  return {
    index,
    ahead: title?.substr(0, index),
    center: title?.substr(index, query.value.length),
    behind: title?.substr(index + query.value.length)
  }
}

const onUp = () => {
  // console.log('onUp');
  if (showSuggestions.value) {
    if (focusIndex.value > 0) {
      focusIndex.value--;
    } else {
      focusIndex.value = suggestions.value.length - 1;
    }
  }
}

const onDown = () => {
  // console.log('onDown');
  if (showSuggestions.value) {
    if (focusIndex.value < suggestions.value.length - 1) {
      focusIndex.value++;
    } else {
      focusIndex.value = 0;
    }
  }
}
const go = (i) => {
  // console.log('i', useRouter);
  if (!showSuggestions.value) {
    return;
  }
  SearchEvent(suggestions.value[i].regularPath);
  query.value = '';
  focusIndex.value = 0;
}

const focus = (i) => {
  focusIndex.value = i;
}
const unfocus = () => {
  focusIndex.value = -1;
}

</script>
<template>

  <!-- 首页搜索框，参考自vuepress项目的同名文件 -->
  <div class="search-box">
    <input ref="input" aria-label="Search" v-model="query" autocomplete="off" spellcheck="false"
      @focus="focused = true" @blur="focused = false" @keyup.enter="go(focusIndex)"
      @keyup.up="onUp" @keyup.down="onDown" />
    <ul v-if="showSuggestions" class="suggestions" :class="{ 'align-right': true }" @mouseleave="unfocus">
      <li v-for="(s, i) in suggestions" :key="i" class="suggestion" :class="{ focused: i === focusIndex }"
        @mousedown="go(i)" @mouseenter="focus(i)">
        <a :href="s.regularPath">
          &gt;
          <span v-if="s.frontMatter" class="header">
            <span v-if="filterTitle(s.frontMatter.title).index > -1">
              <span>{{ filterTitle(s.frontMatter.title).ahead }}</span>
              <span style="color: var(--vp-c-brand-darker)"> {{ filterTitle(s.frontMatter.title).center }}</span>
              <span> {{ filterTitle(s.frontMatter.title).behind }} </span>
            </span>
            <span v-else>
              {{ s.frontMatter.title }}
            </span>
            <span style="font-size: 13px; opacity: 0.6;"> {{ s.frontMatter.date }} </span>
        </span>
        </a>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.search-box {
  position: relative;

  display: inline-block;

  margin-left: 1rem;
}

.search-box input {
  font-size: .9rem;
  line-height: 2rem;

  display: inline-block;

  width: 10rem;
  height: 2rem;
  padding: 0 .5rem 0 2rem;

  cursor: text;
  transition: all .2s ease;

  color: #4e6e8e;
  border: 1px solid #cfd4db;
  border-radius: 2rem;
  outline: none;
  background: var(--vp-c-bg) url(../img/search.svg) .6rem .5rem no-repeat;
  background-size: 1rem;
}

.search-box input:focus {
  border-color: var(--vp-c-brand);
}

.suggestions {
  position: absolute;
  top: 2rem;

  width: 25rem;
  padding: .4rem;

  list-style-type: none;

  border: 1px solid var(--vp-c-brand-light);
  border-radius: 6px;
  background: var(--vp-c-bg);
}

.suggestion {
  line-height: 1.4;

  padding: .4rem .6rem;

  cursor: pointer;

  border-radius: 4px;
}

.header {
  font-size: .9em;

  margin-left: .25em;
}

a {
  white-space: normal;
  text-decoration: none;
}

.page-title {
  font-weight: 600;
}

.focused {
  background-color: var(--vp-c-brand-light);
}

.focused .header {
  color: var(--vp-c-text-dark-1);
}
</style>
