<script setup>
import { defineComponent, computed, ref } from 'vue';
import { useData } from 'vitepress';

const { site } = useData();
const tags = computed(() => site.value.themeConfig.tags);
const pages = computed(() => site.value.themeConfig.pages);

const selectedTag = ref('')

const selectedTagPages = computed(() => pages.value.filter((item) =>
  item.frontMatter.tags?.includes(selectedTag.value)
))
</script>

<template>
  <div>
    <div v-for="(v, k) in tags" :key="k" class="tag-text" :class="{ selected: selectedTag === k }"
      @click="selectedTag = k">
      {{ k }}({{ v }})
    </div>
    <div>
      <ol reversed>
        <li v-for="data in selectedTagPages" :key="data.relativePath">
          <a :href="data.regularPath"><span>{{ data.frontMatter.title }}</span></a>
          <span style="padding-left: 20px">{{ data.frontMatter.date }}</span>
          <div>
            <span style="color: var(--c-text-light-3)">标签：</span>
            <div v-for="item in data.frontMatter.tags" :key="item" class="tag-text">
              {{ item }}
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</template>

<style scoped>
.tag-text {
  font-size: 10px;
  line-height: 1;

  display: inline-block;

  margin-top: 10px;
  margin-right: 10px;
  padding: 4px 9px;

  cursor: pointer;
  text-align: center;

  color: #909399;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
  background-color: #f4f4f5;
}

.selected {
  color: var(--vp-c-brand);
  border: 1px solid var(--vp-c-brand-darker);
}
</style>