<script setup>

const props = defineProps({
    time: {
        type: String,
        default: ''
    },
    title: {
        type: String,
        default: ''
    },
    desc: {
        type: String,
        default: ''
    },
})

</script>

<template scoped>
    <li>
        <div class="timeline-box">
            <div class="out-circle">
                <div class="in-circle"></div>
            </div>
            <div class="long-line"></div>
        </div>
        <div class="timeline-content">
            <div class="timeline-date"> {{ props.time }} </div>
            <div v-if="props.title" class="timeline-title"> {{ props.title }} </div>
            <div v-if="props.desc" class="timeline-desc"> {{ props.desc }} </div>
        </div>
    </li>
</template>
<style scoped>
.timeline-item {
    position: relative;
}


.timeline-item:last-of-type .timeline-content {
    margin-bottom: 0;
}

.timeline-box {
    text-align: center;
    position: absolute;
    padding-top: 8px;
}

.out-circle {
    width: 16px;
    height: 8px;
    /* background: rgba(14, 116, 218, 0.1);
                box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1); */
    /*opacity: 0.1;*/
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.in-circle {
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background: var(--vp-c-brand-dark);
    border-radius: 50%;
}

.long-line {
    width: 2px;
    height: 80px;
    background: var(--vp-c-brand-dark);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    opacity: 0.1;
    margin-left: 7px;
}

.timeline-title {
    font-size: 14px;
    word-break: break-all;
    margin-bottom: 6px;
    font-weight: 500;
}

.timeline-date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}

.timeline-desc {
    font-size: 14px;
    color: var(--vp-c-gray-light-1);
}

.timeline-content {
    box-sizing: border-box;
    margin-left: 20px;
    padding: 0 0 0 20px;
    text-align: left;
    margin-bottom: 0px;
}


</style>