/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #ef7a82; /* 嫣红 */
  --vp-c-brand-light: #f9906f; /* 酡颜 */
  --vp-c-brand-lighter: #ffb3a7; /* 粉红 */
  --vp-c-brand-dark: #f47983; /* 桃红 */
  --vp-c-brand-darker: #ed5736; /* 妃色 */
}

.VPHome {
  padding-bottom: 10px !important;
}
.VPFooter {
  padding: 10px 0 !important;
}
.VPDoc.has-sidebar.has-aside {
  padding-top: 1px;
}

h1 {
  margin-bottom: 10px;
}