<!--.vitepress/theme/MyLayout.vue-->
<!-- guide: https://vitepress.vuejs.org/guide/theme-introduction#extending-the-default-theme -->
<script setup>
import DefaultTheme from 'vitepress/theme'
import SearchBox from './components/SearchBox.vue'
import { useData } from 'vitepress';
import dayjs from 'dayjs'
const { page, frontmatter, site } = useData();

const { Layout } = DefaultTheme
</script>

<template>
  <Layout>
    <template #nav-bar-content-before>
      <SearchBox />
    </template>
    <template #doc-before>
      <div v-if="!frontmatter.alone" style=" padding-top: 20px; padding-bottom: 10px; font-size: 13px;">
        <span class="doc-before-label">标题：</span><span class="doc-before-value">{{ page.frontmatter.title }} </span>
        <span v-if="page.frontmatter?.date" class="doc-before-label" style="margin-left: 5px">日期：</span>
        <span class="doc-before-value">{{ dayjs(frontmatter.date).format("YYYY-MM-DD") }} </span>
        <div v-if="page.frontmatter.tags && page.frontmatter.tags.length" style="padding-top: 10px">
          <span class="doc-before-label">标签：</span>
          <div v-for="item in page.frontmatter.tags" :key="page.frontmatter.title + item" class="tag-text doc-before-value">
            {{ item }}
          </div>
        </div>
      </div>
    </template>
    <template #doc-footer-before>
      <div v-if="!frontmatter.alone" style="padding-top: 20px; font-size: 12px">
        <span class="doc-before-label">最后修改时间：</span>
        <span class="doc-before-value">{{ site.themeConfig.pages.find(item => item.relativePath === page.relativePath)?.lastUpdated }}</span>
      </div>
    </template>
  </Layout>
</template>

<style scoped>
/* .theme-container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}
.theme-container :deep(.theme) {
  flex: 1;
} */
.tag-text {
  font-size: 10px;
  line-height: 1;

  display: inline-block;

  margin-right: 10px;
  padding: 4px 9px;

  text-align: center;

  border: 1px solid #c8c9cc;
  border-radius: 2px;
  background-color: #f4f4f5;
}

/* :deep(.home-hero) {
  margin: 0 !important;
}
.theme-container :deep(h1) {
  margin-top: 1rem;
  margin-bottom: .5rem;
} */
.doc-before-label {
  color: var(--vp-c-text-light-3)
}

.dark .doc-before-label {
  color: var(--vp-c-text-dark-3)
}

.doc-before-value {
  color: var(--vp-c-brand-light)
}
</style>